.gallery{
  display: grid;
  width: 80vh;
  margin-top: 40px;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  grid-column-gap: 25px;
  grid-row-gap: 20px;
}