.card_pokemon-id{
  position: absolute;
  top: 53px;
  right: 15px;
  font-size: 30px;
  font-weight: bold;
  z-index: 6;
  color: whitesmoke;
  text-shadow:
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}