.card {
  display: grid;
  grid-template-rows: auto auto auto;
  position: relative;
  width: 200px;
  height: 300px;
  background: url(/src/images/backgroundCard.jpg);
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border: 5px solid black;

}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  border-radius: inherit; 
  z-index: 1; 
}

.card:hover{
  transform: scale(110%);
}
