.popup-stats_container-stats {
  display: grid;
  border-radius: 25px;
  background-color: rgb(245, 245, 245);
  border-top: 10px solid black;
  z-index: 30;
  grid-template-columns: repeat(2, auto);
  height: 470px;
  align-self: end;
}
