.popup-stats_container-stats {
  border-radius: 25px;
  background-color: whitesmoke;
  border-top: 10px solid black;
}

.popup-stats_container-stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  border-radius: inherit;
  z-index: 1;
}
