.search-bar_input{
  height: 40px;
  width: 300px;
  padding: 0;
  border-radius: 15px;
  border: 1px solid rgb(118, 118, 118);
  padding-left: 15px;
}

.search-bar_input:hover{
  border: 1px solid whitesmoke;
  cursor: text;
}

.search-bar_input:focus {
  outline-color: rgba(194, 46, 63, 0.5);
}