.popup-stats_content {
  display: grid;
  height: 800px;
  width: 600px;
  background-color: rgb(210, 0, 0);
  border: 7px solid black;
  z-index: 20;
  grid-template-rows: repeat( 3, auto);
  border-radius: 33px;
}
