.header{
  display: grid;
  height: 200px;
  width: 80%;
  position: relative;
  align-content: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}