.popup-stats_types_item{
  width: 150px;
  height: 70px;
  background-color: rgb(210, 0, 0);
  border-radius: 15px;
  color: white;
  font-size: 2rem;
  align-content: center;
  border: 4px solid black;
  font-weight: bold;
}