.popup-stats_pokemon-number {
  text-transform: capitalize;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  font-size: 3rem;
  justify-self: flex-end;
  margin-right: 15%;
}
